[build-system]
requires = [
  "setuptools>=42",
  "wheel"
]

[tool.black]
exclude = '''
/(
  \.mypy_cache
  | \.venv
  | venv
  | src/tram/migrations
  | node_modules
  | .tox
  | .git
)/
'''

[tool.isort]
profile = "black"
multi_line_output = 3
skip_glob = "src/tram/migrations/*"
