.retrain-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.retrain-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translateY(5px);
}

.retrain-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.retrain-dropdown-content a:hover {background-color: lightgrey}

.retrain-dropdown:hover .retrain-dropdown-content {
  display: block;
}

.retrain-dropdown:hover .dropbtn {
  background-color: lightgreen;
}


