{% extends 'base.html' %}

{% load static %}

{% block title %}TRAM - Threat Report ATT&CK Mapper{% endblock %}

{% block head %}
<meta http-equiv="refresh" content="30" />
{% endblock %}

{% block body %}
<h1>Reports</h1>
<table id="report-table" class="table table-striped table-hover">
  <tbody>
    <tr>
      <th>Report</th>
      <th>Actions</th> <!-- Actions 1 -->
      <th>Status</th>
      <th>Sentences</th>
      <th></th> <!-- Actions 2 - Delete -->
    </tr>
    {% for job in job_queue%}
    <tr>
      <td>
        <div>
          <b>Job: Analyze {{job.name}}</b><br>
          <small>By: {{job.byline}}</small>
        </div>
      </td>
      <td><!-- No Actions --></td>
      <td>
        {% if job.status == "Queued" %}
          <button type="button" class="btn btn-secondary" disabled>Queued</button>
        {% elif job.status == "Error" %}
          <button type="button" class="btn btn-danger" disabled>Error</button>
        {% else %}
          Unknown Status: {{ job.status }}
        {% endif %}
      </td>
      <td><!-- No Sentence Info --></td>
      <td>
        <a class="btn btn-danger btn-sm" onclick="deleteJob({{ job.id }})"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    {% endfor %}
    {% for report in reports %}
    <tr>
      <td>
        <div>
          <b>{{report.name}}</b><br>
          <small>By: {{report.byline}}</small>
        </div>
      </td>
      <td>
        <div class="btn-group">
          <a href="/analyze/{{ report.id }}" class="btn btn-sm btn-outline-secondary">Analyze</a>
          <div class="dropdown btn-group">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="export-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Export
            </button>
            <div class="dropdown-menu" aria-labelledby="export-dropdown">
              <a class="dropdown-item btn btn-sm btn-outline-secondary" href="/api/report-export/{{ report.id }}/?format=json">JSON</a>
            </div>
          </div>
          <a href="/api/download/{{ report.name | cut:'Report for ' }}" class="btn btn-sm btn-outline-secondary">Download</a>
        </div>
      </td>
      <td>
        {% if report.status == "Reviewing" %}
          <button type="button" class="btn btn-warning" disabled>Reviewing</button>
        {% elif report.status == "Accepted" %}
          <button type="button" class="btn btn-success" disabled>Accepted</button>
        {% else %}
          Unknown Status: {{report.status}}
        {% endif %}
      </td>
      <td>
        Accepted: {{report.accepted_sentences}}<br>
        Reviewing: {{report.reviewing_sentences}}<br>
        Total: {{report.total_sentences}}<br>
      </td>
      <td>
        <a class="btn btn-danger btn-sm" onclick="deleteReport({{ report.id }})"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
