<html>
<head>
    <link rel="stylesheet" href="/static/css/basic.css">
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
    <title>Full Report</title>
</head>
<body>
    <div class="content">
        <button id="refresh" style="float: right; margin: 15px" onclick="window.location.reload(true)">Refresh</button>
        <button id="homeBtn" style="float: right;margin: 15px"><a style="color: white;text-decoration: none" href="/">Home</a></button>
    </div>

    {% if report %}
    <table id="fullReport" class="simple-table" style="margin-top: 70px">
        <thead>
            <tr>
                <td>Full Report</td>
                <td>Techniques Found</td>
            </tr>
        </thead>
    {% for sentence in report.sentences %}
        <tr>
            {%if sentence.matches%}
            <td><p style="word-break: break-word;background-color: green">{{sentence.text}}</p></td>
            {%else%}
            <td><p style="word-break: break-word">{{sentence.text}}</p></td>
            {%endif%}
            <td>
                <button class='technique-dropdownbtn' onclick="dropdown($(this))">Add Techniques</button>
                <div class='technique-dropdown'>
                    <ui>
                        <input class='technique-input' type="text" placeholder="Search..." onkeyup="filter($(this))">
                    </ui>
                    
                </div>
                <data id={{sentence.id}}></data>
                <div class='technique-scroll'>                                    
                    {% if sentence.matches %}
                    {% for match in sentence.matches %}
                    <div class='sentence-tag' id="{{match.search.description}}">
                        <button class="close" onclick="deleteMatch($(this))">&#10006;</button><br>{{match.search.description}}
                    </div>
                    <data id={{sentence.id}}></data>
                    {% endfor %}
                    {%endif%}
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

</body>


<script src="/static/jquery/jquery.js"></script>
<script src="/static/js/report.js"></script>


</html>