<link rel="stylesheet" href="/tram/css/modal.css">
<link rel="stylesheet" href="/tram/css/basic.css">

<div id="tram" class="section-profile">
    <div class="row">
        <div class="topleft duk-icon"><img onclick="removeSection('tram')" src="/gui/img/x.png"></div>
        <div class="column section-border" style="flex:25%;text-align:left;padding:15px;">
            <h1 style="font-size:70px;margin-top:-20px;">TRAM</h1>
            <h2 style="margin-top:-55px">autonomous threat intelligence</h2>
            <p>
                A MITRE project to use machine learning to extract ATT&CK information from threat
                intelligence reports. Here, you can generate an adversary directly from any threat
                intel report.
            </p>
            <br>
            <center style="float:left">
            <input type="text" id="upload-url" placeholder="Upload a file or enter a URL to parse"/>
                <div class="column" style="flex:20%">
                    <form id="uploadReportForm">
                        <label id="uploadFileLabel" for="uploadReport"><img src="/tram/img/upload.png" style="height:50px"></label>
                        <input type="file" id="uploadReport" style="display: none">
                    </form>
                </div>
                <div class="column" style="flex:20%">
                    <button id="upload-submit" onclick="createReport()">SUBMIT</button>
                </div>
                <div class="column" style="flex:20%">
                    <button id="model-retrain" onclick="retrainModel()">RETRAIN</button>
                </div>
            </center>
        </div>
        <div class="column" style="flex:75%;padding:15px;text-align: left">

        </div>
    </div>
</div>

<script src="/tram/js/basic.js"></script>
