beautifulsoup4==4.12.3
django-constance==4.2.0
django-picklefield==3.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
django==4.2.18
faker==15.3.4
gunicorn==23.0.0
nltk==3.8.1
numpy==1.24.4
pandas==2.0.2
pdfplumber==0.9.0
python-docx==1.1.2
requests==2.32.2
scikit-learn==1.2.2
torch==2.0.1
transformers[torch]==4.30.2
