beautifulsoup4==4.9.3
django-constance==2.8.0
django-picklefield==3.0.1
django-rest-framework==0.1.0
djangorestframework-simplejwt==5.1.0
django==3.2.16
faker==6.5.0
gunicorn==20.1.0
nltk==3.6.7
pandas==1.2.5
pdfplumber==0.6.0
python-docx==0.8.10
scikit-learn==1.0.2
requests==2.28.1
