name: test

on:
  push:
    branches: [master, develop]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.7'
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/test-requirements.txt
        pip install -r requirements/requirements.txt
    - name: Test and lint with pytest
      run: |
        pytest --cov=src/ --cov=src/tram --cov=src/tram/tram/ml --cov=src/tram/tram/management/commands --cov-report=xml --flake8
    - name: Upload Coverage to CodeCov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_SECRET }}
        files: coverage.xml
        verbose: true
    - name: Bandit Security Check
      run: |
        bandit -r src/ --exit-zero
    - name: Safety Vulnerability Check
      run: |
        safety check --file requirements/requirements.txt